{% extends 'index.html' %}

{% block pets_display %}
    <table>
        <tr>
            {% for el in headers %}  {# get header row setup #}
                <td>
                    {{ el }}
                </td>
            {% endfor %}
        </tr>
        {%  for el in entity %}
            <tr>
                {% for i in range(5) %}
                    <td>
                        {{ el[i] }}
                    </td>
                {% endfor %}
                <td>
                    UPDATE PLACEHOLDER
                </td>
                <td>
                    DELETE PLACEHOLDER
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock pets_display %}